<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

  <Bundle
    Name="KLogin Windows Agent Setup"
    Manufacturer="KLoginAgent"
    Version="$(var.ProductVersion)"
    UpgradeCode="9A4B2C10-7E6D-4F8A-B1C2-3D4E5F607182">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="hyperlinkLicense" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
        Id="KLoginAgentMsi"
        SourceFile="KLoginAgent.msi"
        Vital="yes"
        bal:DisplayInternalUICondition="WixBundleAction = 6" />
    </Chain>
  </Bundle>
</Wix>
